.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.history-btn {
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 5px 10px;
  color: #333333;
}

.question {
  margin-bottom: 10px;
}

.content textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  padding: 10px;
  min-height: 300px;
}
